# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Model checkpoints
checkpoints/
*.pth
*.pt
*.onnx

# Dataset
Dataset/

# Outputs
outputs/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

.venv/
__pycache__/
*.pyc

NAFNet/figure/
NAFNet/demo/
NAFNet/docs/
NAFNet/README.md
NAFNet/LICENSE
NAFNet/.gitignore

